body {
    background-color: #816C61;
    color: white;
    font-size: medium;
}
.ui {
    position: absolute;
}
.note_select {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
}
.notes {
    display: grid;
    grid-template-rows: repeat(1, 0fr);
    grid-template-columns: repeat(2, 0fr);
    padding: 5px;
    border-style: ridge;
    border-color: #4e4743;
}
.runs {
    border: ridge;
    border-color: #4e4743;
}
.run {
    display: grid;
    grid-template-columns: repeat(14, 0fr);
    grid-template-rows: repeat(1, 30px);
}
.step {
    position: relative;
    text-align: center;
}
.fret {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}