body {
    background-color: #606C38;
    color: #FEFAE0;
}
.run {
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(1, 25px);
}
.step {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* border-style: solid; */
    /* border-color: rgb(66, 66, 65); */
}